.service-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 0;
  }
  
  .service-item {
    display: flex;
    align-items: flex-start;
  }
  
  .service-icon {
    font-size: 1.5rem;
  }
  
  .service-text {
    text-align: left;
  }
  
  .service-text p {
    color: #7e7e7e;
  }

  .service-all-container {
    margin: 40px 0 0 50px;
    max-height: 200px; /* Adjust the height as needed */
    overflow-y: auto; /* Adds vertical scrollbar if content exceeds max-height */
    padding: 20px; /* Optional: adds padding for better spacing */
    border: 1px solid #ddd; /* Optional: adds a border for visual separation */
    border-radius: 8px; /* Optional: rounds the corners of the container */
    background-color: #f9f9f9; /* Optional: sets a background color */
  }